.p {
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  line-height: 40px;
  width: 464px;
}

.h1 {
  font-size: 64px;
  font-weight: 100;
}

.button {
  transition: background-position 0.5s, transform 0.1s;
  background-size: 200% auto;
  border-radius: 10px;
  border: 0;
  font-weight: 100;
  box-shadow: 0 0 14px -7px #8b85c1;
  background-image: linear-gradient(45deg, #993955 0%, #8b85c1 51%, #993955 100%);
  cursor: pointer;
  user-select: none;
  width: 314px;
  height: 67px;
  font-size: 32px;
}

.button:hover {
  background-position: right center;
}

.button:active {
  transform: scale(0.95);
}

.App {
  background-color: #37123C;
  width: 700px;
  height: 500px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}