*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: black;
  font-family: Quicksand, sans-serif;
}

button {
  font: inherit;
}

:root {
  --text-color: none;
  --secondary-text-color: none;
  --background-color: none;
  --secondary-background-color: none;
  --primary-color: none;
  --secondary-color: none;
}
